/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
main {
    height: 3000px;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
    background-color: rgba(122, 191, 191, .5);
}
body {
    font-family: "Bebas Neue", "Montserrat", sans-serif;
    width: 414px;
    margin: 0 auto;
    padding-top: 17px;
    background-color: #F2F2F2;
    height: 2650px;
}
#main_navigation > h2 {
    display: none;
}
li p {
    display: none;
}
ul {
    max-height: 0;
    overflow: hidden;
}
input:checked ~ ul {
    max-height: 500px;
}
input {
    display: none;
}
nav ul {
    display: flex;
    flex-direction: column;
    height: 350px;
    justify-content: center;
    align-items: center;
} 
nav {
    position: absolute;
    width: 414px;
    top: 0;
    padding-bottom: 10px;
    background-color: white;
}
nav li {
    display: grid;
    justify-content: center;
    width: 414px;
    padding: 15px;
    transition: background-color 0.5s ease;
}
nav li:hover {
    background-color: rgba(200, 20, 20, 30%);
    transition-duration: 0.5s;
}
nav li:first-child:hover {
    color: transparent;
}
nav li:last-child:hover {
    background-color: transparent;
}
nav p {
    position: relative;
    display: flex;
    padding-left: 17.5px;
    font-size: 20px;
    top: 3px;
}
span svg {
    padding: 5px 0 0 15px;
    margin-top: 5px;
}
nav ul li img {
    display: none;
}
#home {
    display: none;
}
nav li a {
    text-decoration: none;
    color:#EB5428;
    font-size: 20px;
}
nav li:last-child {
    position: absolute;
    top: -4px;
    left: 165px;
}
nav li:last-child p {
    top: 2px;
    left: -20px;
    font-size: 20px;
    color: black;
}
nav li:first-child svg {
    position: absolute;
    display: grid;
    margin: 20px;
    top: -21px;
    left: 43px;
    background-color: #EB5428;
    width: 280px;
    height: 85px;
}
#site-search {
    display: flex;
    margin: 100px 90px 100px 60px;
    border: 2px solid #EB5428;
    width: 250px;
    height: 46px;
}
button {
    position: relative;
    display: block;
    right: -310px;
    top: -145.7px;
    background-color: #EB5428;
    border: none;
}
h1 {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin-top: -120px;
}
menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
    margin-bottom: 20px;
    text-wrap: wrap;
}
menu span {
    display: inline-block;
    position: absolute;
    margin-top: 50px;
    margin-left: 5px;
    font-size: 20px;
}
menu a {
    font-size: 20px;
    color:#EB5428;
    margin-left: 30px;
} 
menu li {
    transition: background-color 0.5s ease;
}
menu li:hover {
    background-color: rgba(200, 20, 20, 30%);
    transition-duration: 0.5s;
}
#intro img {
    margin-top: 10px;
    margin-bottom: 7px;
}
#intro p {
    display: grid;
    font-family: "Montserrat";
    font-size: 16px;
    padding: .75rem;
    line-height: 1.5rem;
}
#details h2 {
    font-size: 30px;
    text-align: center;
}
#detail-bold {
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: bold;
    margin-left: 10px;
    line-height: 1.5rem;
}
#details p {
    font-family: "Montserrat";
    font-size: 16px;
    line-height: 1.5rem;
}
#ingredients h2 {
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
    padding-bottom: 0;
}
#ingredients ul {
    display: block;
    max-height: none;
    overflow: visible;
    list-style: disc;
    margin-left: 10px;
}
#ingredients ul li {
    font-size: 16px;
    margin-left: 10px;
    line-height: 1.5rem;
    font-family: "Montserrat";
    padding-left: 10px;
}
#directions {
    display: block;
    margin-top: 10px;
}
#directions h2 {
    font-size: 30px;
    text-align: center;
}
#directions {
    width: 400px;
}
#directions ol {
    margin-left: 30px;
}
#directions ol li {
    max-height: none;
    overflow: visible;
    font-family: "Montserrat";
    list-style: numeric;
    line-height: 1.5rem;
    padding: 0 10px 10px 20px;
}
#side_dishes {
    display: grid;
    position: absolute;
    grid-template-columns: 30% 60%;
    grid-template-rows: 1fr;
    background-color:#7ABFBF;
    width: 414px;
    align-items: center;
}
#side_dishes h2 {
    display: block;
    position: relative;
    font-size: 30px;
    text-align: center;
    margin: 10px 15px 11px 15px;
    width: 390px;
}
#side_dishes img {
   grid-column: 1/1;
   margin-left: 10px;
   margin-bottom: -16px;
}
#side_dishes h3 {
    grid-column: 2;
    font-size: 25px;
    top: 1em;
    position: relative;
}
#side_dishes h3:first-of-type {
    top:2em;
}
#side_dishes p {
    grid-column: 2;
    font-family: "Montserrat";
    font-size: 16px;
}
#side_dishes svg {
    position: relative;
    top: -1.4em;
    left: 7.5em;
    padding: 0 0 0 4px;
    margin: 0;
}
#rating {
    position: relative;
    top: -1.75em;
    font-weight: bold;
}
#connect {
    display: grid;
    position: relative;
    width: 414px;
    margin-top: 603px;
    height: 475px;
    background-color: white;
}
#connect h2 {
    display: none;
}
#connect h3 {
    display: none;
}
#connect ul {
    max-height: none;
    display: grid;
}
#connect ul li{
    display: grid;
    grid-template-rows: 1fr;
    grid-row: 1;
    margin: 60px 0 10px 20px;
    color: #EB5428;
    font-size: 20px;
}
#connect svg {
   display: block;
   position: absolute;
   margin-top: -44px;
   margin-left: 7px;
}
footer {
    position: absolute;
    top: 2853px;
    right: 190px;
    width: 414px;
    height: 300px;
}
footer p {
    display: flex;
    position: relative;
    top: 18em;
    right: 3em;
    flex-direction: column-reverse;
    align-items: center;
    justify-items: center;
    font-size: 20px;
}
footer img {
    max-width: 100%;
    max-height: 100%;
}
#intro img:first-of-type {
    max-width: 100%;
    max-height: 100%;
}
#side_dishes img {
    max-width: 100%;
    max-height: 100%;
}
@media screen and (min-width: 768px) {

}
@media screen and (min-width: 1280px) {

}